# Node dependencies
node_modules/
.next/
dist/

# Environment variables
**/.env
**/.env.*
# Allow example .env files
!**/.env.example

.env 
# Logs
*.log

# OS
.DS_Store

# Testing
coverage/

# supabase
# IGNORE ACTUAL DATA
supabase/volumes/db/data

# venv
venv
API/package-lock.json
koffieblik/package-lock.json
docker-compose.yml
